/*
 *= require "_bootstrap.min.css"
 *= require "_bootstrap-responsive.min.css"
 *= require "_style.min.css"
 *= require "_fonts.css"
 *= require "_font-awesome.min.css"
 *= require "_jquery.countdown.css"
 *= require "_flexslider.css"
 */

.timeline-icon-container {
  text-align: center;
}

.timeline-icon-container i {
  padding-top: 2px;
  padding-left: 0px;
}

.sponsor {
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor img{
  margin-bottom: 30px;
  margin-left: 15px;
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  background-color: #E7EBED;
}

/*
.sponsor img:hover{
  opacity: 0;
  filter: alpha(opacity=0);
}
*/

.event-title img {
  margin-top: 0.5em;
  max-width:7.5em;
}
